.formSection {
  position: relative;
  margin-bottom: 40px;
}

.fieldGroupTextarea {
  margin-bottom: var(--spacing-3xl);
}

.actions {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.saveButton {
  width: 201px;
  height: 50px;
}

.cancelButton {
  width: 201px;
  height: 50px;
}
