.landingContainer {
  background: var(--cloud);/*#F5F5FF;*/
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 100%;
}


/* Interview Section */
.interviewSection {
  max-width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.interviewImage {
  width: 1285px;
  height: 490px;
  left: 1.21px;
  top: 41px;
  position: absolute;
}

.interviewTitle {
  width: 1049px;
  left: 200px;
  top: 0;
  position: absolute;
  text-align: center;
  color: var(--color-primary-blue);
  font-size: 45px;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40.95px;
  word-wrap: break-word;
}

.interviewVideoContainer {
  width: 318px;
  height: 318px;
  left: 485.21px;
  top: 115px;
  position: absolute;
  overflow: hidden;
}

.videoFrame {
  width: 318px;
  height: 318px;
  left: 0;
  top: 0;
  position: absolute;
  background: black;
}

.videoImage {
  width: 318px;
  height: 318px;
  left: 0;
  top: 0;
  position: absolute;
}

.interviewOverlay1 {
  width: 392px;
  height: 79px;
  left: 778.21px;
  top: 106px;
  position: absolute;
  background: var(--cloud);/*#F5F5FF;*/
}

.interviewOverlay2 {
  width: 477.33px;
  height: 268.22px;
  left: 273px;
  top: 43.69px;
  position: absolute;
  transform: rotate(91deg);
  transform-origin: top left;
  background: var(--cloud);/*#F5F5FF;*/
}

.interviewOverlay3 {
  width: 516.04px;
  height: 141.45px;
  right: -200px;
  top: 43.42px;
  position: absolute;
  transform: rotate(91deg);
  transform-origin: top left;
  background: var(--cloud);/*#F5F5FF;*/
}





