.landingContainer {
  background: #F5F5FF;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 100%;
}

/* Hero Section */
.heroSection {
  width: 100%;
  height: 672px;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.heroImageWrapper {
  width: 100%;
  height: 477px;
  left: 0px;
  top: 149px;
  position: absolute;
  background: #F5F5FF;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.startButton {
  left: 50%;
  transform: translateX(-50%);
  top: 610px;
  position: absolute;
}

.heroSubtitle {
  width: 710px;
  height: 78px;
  left: 360px;
  top: 70px;
  position: absolute;
  text-align: center;
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.20px;
  word-wrap: break-word;
}

.heroTitle {
  width: calc(100% - 40px);
  height: 95px;
  left: 20px;
  top: 0px;
  gap: 5px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  max-width: 100%;
}

.titlePart1 {
  color: #082060;
  font-size: 50px;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 58.30px;
  word-wrap: break-word;
}

.titlePart2 {
  color: black;
  font-size: 50px;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 58.30px;
  word-wrap: break-word;
}

.titlePart3 {
  color: #83BCFF;
  font-size: 50px;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 58.30px;
  word-wrap: break-word;
}

/* Features Section */
.featuresSection {
  margin-left: 150px;
  width: 1143px;
  max-width: calc(100% - 140px);
  height: 494px;
  position: relative;
}

.featuresTitle {
  width: 516.19px;
  height: 33.41px;
  left: 3.88px;
  top: 0px;
  position: absolute;
  color: #082060;
  font-size: 36px;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 32.76px;
  word-wrap: break-word;
}

/* Interview Section */
.interviewSection {
  max-width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.interviewImage {
  width: 1285px;
  height: 490px;
  left: 1.21px;
  top: 41px;
  position: absolute;
}

.interviewTitle {
  width: 1049px;
  left: 200px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #082060;
  font-size: 45px;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40.95px;
  word-wrap: break-word;
}

.interviewVideoContainer {
  width: 318px;
  height: 318px;
  left: 485.21px;
  top: 115px;
  position: absolute;
  overflow: hidden;
}

.videoFrame {
  width: 318px;
  height: 318px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: black;
}

.videoImage {
  width: 318px;
  height: 318px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.interviewOverlay1 {
  width: 392px;
  height: 79px;
  left: 778.21px;
  top: 106px;
  position: absolute;
  background: #F5F5FF;
}

.interviewOverlay2 {
  width: 477.33px;
  height: 268.22px;
  left: 273px;
  top: 43.69px;
  position: absolute;
  transform: rotate(91deg);
  transform-origin: top left;
  background: #F5F5FF;
}

.interviewOverlay3 {
  width: 516.04px;
  height: 141.45px;
  right: -200px;
  top: 43.42px;
  position: absolute;
  transform: rotate(91deg);
  transform-origin: top left;
  background: #F5F5FF;
}

/* Subscription Section */
.subscriptionSection {
  margin-left: 240px;
  width: 966px;
  height: 237px;
  position: relative;
}

.subscriptionBackground {
  width: 966px;
  height: 237px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #83BCFF;
  border-radius: 25px;
}

.subscriptionTitle {
  width: 774px;
  left: 47px;
  top: 37px;
  position: absolute;
  color: #F2FAFC;
  font-size: 45px;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40.95px;
  word-wrap: break-word;
}

.subscriptionButton {
  left: 666px;
  top: 156px;
  position: absolute;
}

/* FAQ Section */
.faqSection {
  width: 966px;
  margin-left: 240px;
  margin-bottom: 100px;
  margin-top: 50px;
  height: 335px;
  position: relative;
}

.faqBackground {
  width: 966px;
  height: 335px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #F5F5FF;
  border-radius: 15px;
  border: 1px #082060 solid;
}


