.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.topSection {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.mainFields {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.avatarSection {
  width: 236px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bottomSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 20px;
}

.saveButton {
  width: 201px;
  height: 50px;
}

.cancelButton {
  width: 201px;
  height: 50px;
}

@media (max-width: 900px) {
  .topSection {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .mainFields {
    width: 100%;
  }

  .avatarSection {
    align-items: center;
    width: auto;
  }
}