.avatar {
  width: var(--width-avatar);
  height: var(--height-avatar);
  background: var(--color-accent-light);
  border-radius: var(--radius-xl);
  border: 1px var(--color-primary) solid;
  margin-left: var(--spacing-5xl);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-xl);
}

.avatarPlaceholder {
  width: 100%;
  height: 100%;
  background: var(--color-accent-light);
  border-radius: var(--radius-xl);
}

.avatarUpload {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(8, 32, 96, 0.8);
  padding: var(--spacing-md);
  text-align: center;
  cursor: pointer;
  border-radius: 0 0 var(--radius-xl) var(--radius-xl);
}

.avatarInput {
  display: none;
}

.avatarUploadText {
  color: var(--color-text-light);
  font-size: var(--font-size-sm);
  font-family: var(--font-family-sans), sans-serif;
  font-weight: 400;
}
