.resumeContent {
  padding: 20px;
}

.title {
  color: #082060;
  font-size: 28px;
  font-family: 'Anek Telugu', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  color: #082060;
  font-size: 16px;
  font-family: 'Geist', sans-serif;
  line-height: 1.5;
}

