.section {
    padding: 60px 60px;
    background: var(--lavand);
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: var(--cloud);
    margin-bottom: 40px;
    text-align: center;
}

.grid {
    display: grid;
    max-width: 70%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0 auto;

    /* чтобы transform не вылазил за контейнер */
    /*overflow: hidden;
    padding: 10px;*/
    position: relative;
}

/* ==== КАРТОЧКИ ==== */
.card {
    background: white;
    border-radius: 20px;
    padding: 32px;
    border: 4px solid transparent;

    cursor: pointer;

    position: relative;
    will-change: transform;
}


.pink {
    border-color: var(--maroon);
}

.blue {
    border-color: var(--navy);
}

.cardTitle {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
}

.cardText {
    font-size: 16px;
    line-height: 1.45;
    max-width: 400px;
}

/* Адаптив */
@media (max-width: 900px) {
    /*.grid {
        grid-template-columns: 1fr;
    }*/
    .grid {
        grid-template-columns: 1fr;
    }

    .card:hover {
        transform: scale(1.04);
    }
}

