.hero-banner {
    position: relative;
    width: 100vw;
    height: 95vh;
    margin-bottom: 0;
    overflow: hidden;
}

/* Цветной прямоугольник с анимацией */
.hero-bg {
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, var(--peach), var(--navy));
    z-index: 1;
    margin: 50px clamp(30px, 5vw, 200px) 0;
}

/* Контейнер с текстом + картинкой */
.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 clamp(60px, 15vw, 200px);
}

/* Левый текстовый блок */
.hero-text {
    max-width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;                /* расстояние между h1, p и кнопкой */
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-text p {
    font-size: 18px;
    opacity: 0.9;
    line-height: 1.5em;
    margin-bottom: 20px;
}

/* Картинка справа */
.hero-image {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 50%;
}

.hero-image img {
    width: 550px;
    max-width: 100%;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

/* 1400px — крупные ноутбуки */
@media (max-width: 1400px) {
    .hero-image img {
        width: 600px; /* больше, чем на десктопе */
    }

    .hero-content {
        padding: 0 100px; /* чуть больше боковых отступов */
    }
}

/* 1200px — средние ноуты */
@media (max-width: 1200px) {
    .hero-image img {
        width: 520px;
    }
}

/* 1000px — мобильная перестройка макета */
@media (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 40px; /* меньше боковых полей */
    }
    .hero-bg{
        margin: 0;
    }
    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text {
        align-items: center;
    }
    .hero-image {
        margin-left: 0;
        margin-top: 20px;
        height: auto;
    }

    .hero-image img {
        width: 300px;
    }
}

@media (max-width: 500px) {
    .hero-text h1 {
        font-size: 5vh;
    }
    .hero-image img {
        display: none;
    }
}