.menu {
  width: 236px;
  height: 141px;
  position: relative;
}

.menuBackground {
  width: 236px;
  height: 141px;
  left: 0;
  top: 0;
  position: absolute;
  background: #F5F5FF;
  border-radius: 15px;
  border: 1px #F2C2C8 solid;
}

.menuDivider {
  width: 241px;
  height: 17px;
  padding: 8px 16px;
  left: -3px;
  position: absolute;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.menuDividerLine {
  align-self: stretch;
  height: 1px;
  background: #D9D9D9;
}

.menuActiveItem {
  width: 236px;
  height: 49px;
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(90deg, #F5F5FF 0%, #F2C2C8 100%);
  border-radius: 15px;
  border: 1px #F2C2C8 solid;
  pointer-events: none;
  z-index: 1;
}

.menuButton {
  width: 223px;
  height: 48px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #082060;
  font-size: 20px;
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2;
  transition: all 0.2s;
}

.menuButton:hover {
  opacity: 0.8;
}

.menuButtonActive {
  top: 1px;
}

.menuButtonProgress {
  top: 47px;
}

.menuButtonResume {
  top: 95px;
}
