.featureCard {
  position: absolute;
  background: white;
  border-radius: 25px;
}

.featureContent {
  position: absolute;
  padding: 20px;
  background: rgba(176, 221, 252, 0);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  display: inline-flex;
}

.featureTitle {
  width: 350px;
  color: black;
  font-size: 25px;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22.75px;
  word-wrap: break-word;
}

.featureDescription {
  width: 100%;
  max-width: 500px;
  color: black;
  font-size: 17px;
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  line-height: 22.27px;
  letter-spacing: 0.17px;
  word-wrap: break-word;
}

