/* ============================================
   ProgressContent - Стили для страницы прогресса
   ============================================ */

.progressContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ============================================
   Блок "Задач решено"
   ============================================ */

.tasksBlock {
  width: 806px;
  height: 208px;
  position: relative;
}

.tasksBackground {
  width: 806px;
  height: 208px;
  left: 0;
  top: 0;
  position: absolute;
  background: #F5F5FF;
  border-radius: 15px;
  border: 1px #78AAFF solid;
}

.tasksTitle {
  width: 195px;
  height: 24px;
  left: 25px;
  top: 17px;
  position: absolute;
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26.40px;
  word-wrap: break-word;
}

.taskLabel {
  left: 35px;
  position: absolute;
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 26.40px;
  word-wrap: break-word;
}

.taskText {
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 26.40px;
  word-wrap: break-word;
}

.taskTextMono {
  color: #082060;
  font-size: 24px;
  font-family: 'Geist Mono', monospace;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 26.40px;
  word-wrap: break-word;
}

.taskProgress {
  width: 500px;
  height: 4px;
  left: 171px;
  position: absolute;
  background: #D9D9D9;
}

.taskCount {
  left: 697px;
  position: absolute;
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 26.40px;
  word-wrap: break-word;
}

/* ============================================
   Блок "ИИ-Собеседований"
   ============================================ */

.interviewsBlock {
  width: 807px;
  height: 233px;
  position: relative;
  border-radius: 15px;
}

.interviewCardLeft {
  width: 450px;
  height: 172px;
  left: 0;
  top: 0;
  position: absolute;
}

.interviewCardRight {
  width: 322px;
  height: 172px;
  left: 485px;
  top: 0;
  position: absolute;
}

.interviewCardBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #F5F5FF;
  border-radius: 15px;
  border: 1px #78AAFF solid;
}

.interviewCardTitle {
  width: 407px;
  height: 24px;
  left: 26px;
  top: 20px;
  position: absolute;
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26.40px;
  word-wrap: break-word;
}

.interviewStat {
  left: 36px;
  position: absolute;
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 26.40px;
  word-wrap: break-word;
}

.interviewStatValue {
  position: absolute;
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 26.40px;
  word-wrap: break-word;
}

.averageScoreTitle {
  width: 258px;
  height: 56px;
  left: 48px;
  top: 17px;
  position: absolute;
  color: #082060;
  font-size: 24px;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26.40px;
  word-wrap: break-word;
}

.averageScoreValue {
  width: 231px;
  height: 24px;
  left: 54px;
  top: 76px;
  position: absolute;
  color: #082060;
  font-size: 64px;
  font-family: 'Geist', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 70.40px;
  word-wrap: break-word;
}

.interviewNote {
  width: 492px;
  left: 0;
  top: 189px;
  position: absolute;
}

.noteText {
  color: #082060;
  font-size: 20px;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 22px;
  word-wrap: break-word;
}

.noteTextLower {
  color: #082060;
  font-size: 20px;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  line-height: 22px;
  word-wrap: break-word;
}
