/* Контейнер одного вопроса */
.faqItem {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  border-bottom: 1px solid var(--lavand);
}
/* убрать линию у последнего */
.faqItem:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* Шапка: вопрос + кнопка */
.faqHeader {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Текст вопроса */
.faqQuestion {
  color: var(--navy);
  font-family: 'Geist', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.35;
  text-align: left;
}

.faqButton {
  width: 36px;
  height: 36px;
  border-radius: 12px;

  text-align: center;
  justify-content: center;
  background: var(--lavand);

  cursor: pointer;
  border: none;

  font-size: 22px;
  color: var(--navy);
  transition: transform .25s, box-shadow .25s;
}

.faqButtonActive {
  transform: rotate(45deg);
}

/* Контейнер ответа (скрытый по умолчанию) */
.faqAnswerWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.3s ease;
  opacity: 0;
}

/* Когда открыт */
.open {
  max-height: 500px;
  opacity: 1;
}


.faqAnswer {
  margin-top: 14px;
  color: var(--navy);
  font-size: 18px;
  font-family: 'Geist', sans-serif;
  line-height: 1.55;
}

/* Адаптивность */
@media (max-width: 600px) {
  .faqQuestion {
    font-size: 18px;
  }
  .faqAnswer {
    font-size: 16px;
  }
  .faqButton {
    width: 32px;
    height: 32px;
    border-radius: 10px;

    font-size: 25px;
    line-height: 33px;

    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}


