.message-container {
    display: flex;
    gap: 0.75rem;
    max-width: 85%;
    align-items: flex-end;
}

/* Стили для аватара */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.sender-name {
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #082060;
}

.bubble {
    padding: 12px 16px;
    border-radius: 18px;
    line-height: 1.5;
    word-wrap: break-word;
}

.message-container.ai {
    align-self: flex-start;
}

.message-container.ai .avatar {
    background-color: #c8e6ff;
    color: #082060;
}

.message-container.ai .sender-name {
    align-self: flex-start;
}

.message-container.ai .bubble {
    background-color: #c8e6ff;
    color: #082060;
    border-top-left-radius: 5px;
}

.message-container.user {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.message-container.user .sender-name {
    align-self: flex-end;
}

.message-container.user .avatar {
    background-color: #f2c2c8;
    color: #082060;
}

.message-container.user .bubble {
    background-color: #78aaff;
    color: #f5f5ff;
    border-top-right-radius: 5px;
}