.message-input-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #c8e6ff;
    background-color: #f5f5ff;
}

.message-input-field {
    flex-grow: 1;
    border: 1px solid #c8e6ff;
    padding: 12px;
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 20px;
    outline: none;
    transition: all 0.2s;
    color: #082060;
}

.message-input-field:focus {
    background-color: #ffffff;
    border-color: #78aaff;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #78aaff;
    transition: color 0.2s ease;
}

.icon-button:hover:not(:disabled) {
    color: #082060;
}

.icon-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.send-button {
    color: #78aaff;
}

.send-button:hover:not(:disabled) {
    color: #082060;
}