.message-input-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid var(--cloud);
    background-color: var(--lavand);
}

.message-input-field {
    flex-grow: 1;
    border: 1px solid var(--cloud);
    padding: 12px;
    font-size: var(--font-size-base);
    background-color: var(--color-background);
    border-radius: 20px;
    outline: none;
    transition: all 0.2s;
    color: var(--color-primary-blue);
}

.message-input-field:focus {
    background-color: white;
    border-color: var(--lavand);
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--navy);
    transition: color 0.2s ease;
}

.icon-button:hover:not(:disabled) {
    color: var(--color-primary-blue);
}

.icon-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.send-button {
    color: var(--color-primary-blue);
}

.send-button:hover:not(:disabled) {
    color: var(--color-primary-blue);
}